<h1>{{ title }}</h1>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="col-md-8 col-sm-12">
    <sebm-google-map #googleMap [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="false" (mapClick)="mapClicked($event)">
        <sebm-google-map-marker 
            *ngFor="let m of markers; let i = index;"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.id.toString()">
            <sebm-google-map-info-window>
                <strong *ngIf="m.desc">{{m.id}} - {{m.label}}<br>{{m.desc}}<br></strong><a *ngIf="!m.label" href="javascript:;"(click)="staticModal.show()">Add to POI</a><a *ngIf="m.label" href="javascript:;"(click)="deletePOI(m.id, i)">Delete POI</a>
            </sebm-google-map-info-window>
        </sebm-google-map-marker>
        
        <sebm-google-map-directions *ngIf="!init" [origin]="origin" [destination]="destination"></sebm-google-map-directions>
    </sebm-google-map>
</div>
<div class="col-md-4 col-sm-12">
    <div class='col-md-12'>
        <tabset [vertical]="true" type="pills">
            <tab heading="Start POI : {{start}}">
                <input [(ngModel)]="start"
                    [typeahead]="labels"
                    class="form-control margin-top-10">
            </tab>
            <tab heading="End POI : {{end}}">
                <input [(ngModel)]="end"
                    [typeahead]="labels"
                    class="form-control margin-top-10">
            </tab>
        </tabset>
    </div>
    <span></span>
    <div class='col-md-12 margin-top-20'>
        <button type="button" class="btn btn-danger pull-left" (click)="removeRoute()">
            Remove Route
        </button>
        <button type="button" class="btn btn-primary pull-right" (click)="getRoute(start, end)">
            Find Route
        </button>
    </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add POI</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input [(ngModel)]="newlabel"
                    class="form-control margin-top-10" placeholder="Label">
                <input [(ngModel)]="newdesc"
                    class="form-control margin-top-10" placeholder="Description">
                <button [disabled]="!newlabel||!newdesc" type="button" class="btn btn-primary pull-right" (click)="addPOI(newlabel,newdesc);staticModal.hide();newlabel='';newdesc=''" >
                    Add POI
                </button>
            </div>
        </div>
    </div>
</div>